
.octodex {
	display: flex;
}
.octodex{
	width: 100%;
	height: auto;
}
.octocat a img {
	width: 80%;
	height: auto;
	border: 2px solid grey;
	padding: 0.5cm 0.5cm;
}

.authors li a img{
	width: 10%;
	
	border:0px ;
	padding: 0cm 0cm;
	
}
.image-number:before {
	content: "#";
	color: grey;
	font-weight: 900;
}
.image-footer {
	
	border-bottom: solid;
	display: flex;
}
.image-caption {
	color: black;
	direction: rtl;
	text-align-last: right;
	margin-right: 70px;
	
}
a {
	font-weight: 900;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}
span {
	color: grey;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 900;
}
ul {
	padding-right: 5cm 5cm;
}